@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.13);
}

.header section a{
  margin-left: 1rem;
}


.movies{
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  position: relative;
}

.movies__filter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies__lists{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}


.movies__list{
  border: 2px solid;
}

.movies__list img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movies__list p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.moviedetails{
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 4fr ;
  gap: 2rem;
}

.moviedetails section{
  display: flex;
  flex-direction: column;
}

.moviedetails img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  outline: 3px solid rgba(9, 0, 51, 0.164);
  border-radius: 0.5rem;
}

.form{
  width: 350px;
  height: 80vh;
  overflow-y: scroll;
  background: white;
  border-radius: 0.5rem;
  outline: 3px solid rgba(13, 0, 29, 0.199);
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.205);
  padding: 1rem;
}

.form section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__inputs{
  display: flex;
  flex-direction: column;
  justify-content: start;

  align-items: start;
}

.form__inputs label{
  display: flex;
  flex-direction: column;
  width: 100%;
}